@media (width > 480px) {
  .card-title,
  footer {
    border: 2px #8f7239 solid;
    border-left: none;
    border-right: none;
    h2 {
      text-align: center;
    }
  }

  .character-container {
    display: flex;
    justify-content: space-between;
    padding-block: 2rem;
  }

  footer {
    button {
      font-size: 20px;
      padding-block: 1rem;
    }
  }

  .card-container {
    width: auto;
    margin-inline: 12rem;
  }
}

@media (width < 480px) {
  .character-info {
    font-size: 14px;
    font-weight: lighter;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    text-align: center;
    background-color: #29000086;
    min-height: 25.3rem;
    min-width: 16.3rem;
    right: 7.3rem;
    z-index: 1;
  }
  .card-container {
    width: auto;
    margin-inline: 5rem;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  footer {
    margin-block-start: 1.5rem;
    button {
      font-size: 18px;
    }
  }

  aside {
    img {
      position: relative;
      filter: blur(5px);
    }
  }
}
