nav {
  align-items: center;
  padding: 3rem;
  padding: 2rem;
  img {
    height: 1.5rem;
    width: auto;
    cursor: pointer;
    margin-right: 1rem;
    display: none;
  }
  ul {
    list-style: none;
    display: flex;
@@ -13,7 +20,6 @@ nav {
      display: block;
      padding: 0.2rem 0.5rem;
      box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.4);
      /* margin: 0 auto; */
      border-radius: 5px;
      a {
        text-decoration: none;
@@ -22,4 +28,39 @@ nav {
      }
    }
  }
  @media (max-width: 500px) {
    display: block;
  }
}

@media (max-width: 500px) {
  nav {
    display: block;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
    margin: 0% auto;

    @media (max-width: 500px) {
      img {
        display: block;
      }

      ul {
        display: none;

        &.open {
          display: flex;
          flex-direction: column;
          position: absolute;
          top: 60px;
          left: 0;
          width: 100%;
          background: none;
          box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
          padding: 1rem;
        }
      }
    }
  }
}
