@media (width > 480px) {
  .details-footer,
  .card-title {
    border: 2px #8f7239 solid;
    border-left: none;
    border-right: none;
  }

  .character-info {
    background-color: rgba(6, 53, 0, 0.444);
    border: 1px solid transparent;
    border-radius: 25px;
    margin-inline-start: 10%;
    font-size: 1.7rem;
    padding: 1rem;
  }

  .character-image {
    display: flex;
    justify-content: center;
  }

  .card-title {
    display: block;
    h2 {
      text-align: center;
    }
  }

  .character-container {
    display: flex;
    justify-content: space-between;
    padding-block: 2rem;
  }

  footer {
    button {
      font-size: 20px;
      padding-block: 1rem;
      text-decoration: none;
    }
  }
}

@media (width < 480px) {
  .character-info {
    background-color: rgba(6, 53, 0, 0.444);
    border: 1px solid transparent;
    border-radius: 25px;
    margin-inline-start: 0%;
    padding: 1rem;
    font-size: 1rem;
    margin-inline: 1rem;
  }

  .character-image {
    display: flex;
    justify-content: center;
  }
}
