button {
  background-color: transparent;
  border: none;
  color: #ffc34f;
  font-family: 'MedievalSharp';
  cursor: pointer;
}

.button-container {
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 14vh;
  width: 100%;
}

@media (width > 480px) {
  .details1 {
    position: relative;
    right: 28rem;
  }
  .details2 {
    position: relative;
    left: 0rem;
  }
  .details3 {
    position: relative;
    left: 26rem;
  }
}

@media (width < 480px) {
  .details1 {
    position: relative;
    bottom: 101vh;
    left: 5rem;
  }
  .details2 {
    position: relative;
    bottom: 44vh;
    left: 0rem;
  }
  .details3 {
    position: relative;
    top: 13vh;
    right: 6rem;
  }
}
