.detail-button {
  display: flex;
  background-color: transparent;
  border: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffc34f;
  font-family: 'MedievalSharp';
  border-radius: 25px;
}
