* {
  box-sizing: border-box;
}

body {
  background-image: url('../fondo-body.png');
  background-repeat: no-repeat;
  font-family: 'MedievalSharp', cursive;
  color: #ffc34f;
  background-repeat: no-repeat;
  background-size: cover;
}
